@font-face {
    font-family: 'BitstreamVeraSansMonoRoman';
    src: url('veramono.eot');
    src: url('veramono.eot') format('embedded-opentype'),
         url('veramono.woff2') format('woff2'),
         url('veramono.woff') format('woff'),
         url('veramono.ttf') format('truetype'),
         url('veramono.svg#BitstreamVeraSansMonoRoman') format('svg');
}
