@import url(../fonts/veramono.css);
/*-- Body styles --------------------------------------*/

body {
    font-family: 'BitstreamVeraSansMonoRoman';
    font-size: 14px;
    margin: 0;
    padding: 60px 0 0;
    color: white;
}
/*-- Item Buttons --------------------------------------*/

.sort:before {
    cursor: ns-resize;
    content: url('../icons/sort.png');
    left: 4px;
    top:4px;
    position:relative;
}
.upload:before {
    content: url('../icons/upload.png');
    margin-right: 4px;
    top:4px;
    max-width: 24px;
    max-height:24px;
    overflow: hidden;
    position:relative;
    cursor: pointer;
}
.download:before {
    cursor: pointer;
    content: url('../icons/download.png');
    margin-right: 4px;
    top:4px;
    position:relative;
}
.edit:before {
    cursor: pointer;
    content: url('../icons/edit.png');
    margin-right: 4px;
    top:4px;
    position:relative;
}
/*-- Items --------------------------------------*/

#itemHeader {
    box-sizing: border-box;
    width:100%;
    display: table;
    position: fixed;
    top:25px;
    height:26px;
    list-style-type: none;
    padding: 0;
    z-index: 1000;
    border-top: 2px solid white;
    border-right: 2px solid white;
    background: #888;
}

#items{
    display: table;
}

#textEdit{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: none;
    background: #444;
    color:white;
    font-family: 'BitstreamVeraSansMonoRoman';
    font-size: 14px;
    padding: 0;
    margin: 0;
}

ul#items {
    cursor: text;
    background: black;
    z-index:-1;
    box-sizing: border-box;
    width:100%;
    display: table;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#items li {
    box-sizing: border-box;
    display: table-row;
    vertical-align: top;
}

div.cell{
    padding:0px 4px 6px 4px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 2px solid white;
    display: table-cell;
    border-right: 2px solid white;
}

/*-- Top --------------------------------------*/

#top {
    background: #666;
    position: fixed;
    width: 100%;
    padding: 4px;
    top: 0;
}
#top img {
    position: relative;
    margin-top: -4px;
    margin-bottom: -6px;
    cursor: pointer;
}
/*-- Disable Selects --------------------------------------*/

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*-- Modal Dialogs --------------------------------------*/

#modalBg {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba( 0, 0, 0, .7);
    background-image: url(/admin/icons/close.png);
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 666666666;
    display: none;
}
#iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background: white;
}
#modalbox {
    position: fixed;
    top: 48px;
    bottom: 48px;
    right: 48px;
    left: 48px;   
}