@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200);
/*-- Body styles --------------------------------------*/

body {
    font-family: 'Source Code Pro';
    font-size: 14px;
    margin: 12px;
    padding: 0;
    background: white;
}
input[type=checkbox]{
	position:relative;
	top: 3px;
}

input[type=text], select{
	border: none;
	padding: 4px;
	background: #ffd;
	border: 1px solid #999;
        margin-left: 4px;
}
.sort:before {
    cursor: ns-resize;
    content: url('../icons/sort2.png');
    padding: 0 8px;
    margin-right: 4px;
    position: relative;
    bottom: -8px
}
ul#items li{
	background: #bbb;
	padding:  4px;
	height: 42px !important;
	margin-top:8px;
}
ul#items {
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
}

#modalBg {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 666666666;
    display: none;
}
#iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background: white;
}
#modalbox {
    position: fixed;
    top: 48px;
    bottom: 48px;
    right: 48px;
    left: 48px;   
}